body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(245, 200, 39, 0.08);
}

div.container {
    text-align: center;
}

h1 {
    font-size: 48px;
    text-align: center;
    border: 1px solid darkslategray;
    padding: 15px;
    background-color: white;
}

.link {
    font-size: 24px;
    font-weight: bold;
}

.one {
    background-color: azure;
}

.two {
    background-color: rgba(146, 6, 111, 0.1);
}

.three,
.four {
    background-color: lightgray;
}

.three {
    color:slategray;
}

.four {
    color:darkolivegreen;
}

.home {
    background-color: black;
    color: white;
    font-size: 20px;
    display: block;
    text-align: center;
    border: 2px solid white;
    padding: 5px;
}

ul,
ol,
p,
h1,
h2,
h4,
.home {
    display:inline-block;
    text-align: left;

}

ul.recipe,
ol.recipe,
p.recipe {
    font-size: medium;
    padding: 10px 10px 10px 30px;
}

p.recipe,
h2.recipe,
h4.recipe {
    padding: 10px;
}

div.card {
    border: 2px solid gray;
}